<div class="jumbotron">
  <h2>Welcome Tiny Tower Friends</h2>
    <h3>A membership site where Fans of TinyTower can meet Friends & play together.</h3>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>