<div class="jumbotron">
  <h2>Welcome Tiny Tower Friends</h2>
    <h3>A simple membership site where fans of Tiny Tower can meet gamers & play together.</h3>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>