<div class="jumbotron jumbotronShadow">
  <h1>Welcome Tiny Tower Friends</h1>
    <h2>A simple membership site where fans of Tiny Tower can meet gamers & play together.</h2>
    <br />
    <hr />
    <br />
    <p><a class="btn btn-primary btn-lg righthis" href="#" role="button">Learn More &hellip;</a></p>
</div>